<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies Manager</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-0 p-0 flex">
<aside
        class="group relative
           w-16 hover:w-64  /* Collapsed vs. expanded width */
           transition-all duration-300
           bg-black text-gray-100
           shadow-md flex flex-col justify-between
           h-screen"
        id="sidebar"
>
  <div>
    <div class="py-4 flex justify-center">
      <img th:src="@{/images/userlogo.png}"
           alt="Logo"
           class="transition-all duration-300 w-8 group-hover:w-12" />
    </div>
    <nav class="mt-6">
      <ul class="space-y-2">
        <li class="flex justify-center group-hover:justify-start px-5 py-2">
            <span class="hidden group-hover:block font-bold text-sm"
                  th:text="${firstname + ' ' + lastname}"></span>
        </li>
        <li class="hover:bg-gray-700 flex items-center px-5 py-2">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-5 w-5"
               fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 9.75L12 4.5l9 5.25M4.5 10.5v9.75h15V10.5" />
          </svg>
          <a th:href="@{/admin}" class="ml-4 text-sm hidden group-hover:inline-block">
            Home of admin
          </a>
        </li>
        <li class="hover:bg-gray-700 flex items-center px-5 py-2">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-5 w-5"
               fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 9.75L12 4.5l9 5.25M4.5 10.5v9.75h15V10.5" />
          </svg>
          <a th:href="@{/home}" class="ml-4 text-sm hidden group-hover:inline-block">
            Movie Display
          </a>
        </li>

        <li class="hover:bg-gray-700 flex items-center px-5 py-2">
          <img th:src="@{/images/dashboard.png}" alt="Dashboard Icon" class="w-5 h-5 mb-4">
          <a th:href="@{/dashboard}" class="ml-4 text-sm hidden group-hover:inline-block">
            Dashboard
          </a>
        </li>

        <li class="bg-gray-700 flex items-center px-5 py-2">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-5 w-5"
               fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 10h.01M12 10h.01M16 10h.01M9 16h6M8 6h8m-8-2h8a2 2 0 012 2v12a2 2 0 01-2 2H8a2 2 0 01-2-2V6a2 2 0 012-2z"/>
          </svg>
          <a th:href="@{/adminMovies}" class="ml-4 text-sm hidden group-hover:inline-block">
            Movies Management
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="py-4 px-4 flex justify-center group-hover:justify-start">
    <a th:href="@{/logout}"
       class="flex items-center gap-2 text-gray-300 hover:text-white">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="h-5 w-5"
           fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7" />
      </svg>
      <span class="hidden group-hover:block text-sm">Logout</span>
    </a>
  </div>
</aside>

<div class="flex-1 flex flex-col items-center overflow-auto p-6">

  <h1 class="text-3xl  text-orange-500 font-bold mb-6">Movies management</h1>

  <div class="w-full flex items-center justify-between mb-6">
    <a class="bg-black text-white pl-16 px-[60px] py-[6px] rounded hover:bg-gray-700"
       th:href="@{/adminMovies/create}">  + add new </a>
    <div th:replace="~{adminMovies/searchForm :: form}"></div>
  </div>

  <div class="px-7 pt-5 overflow-auto w-full max-w-7xl">
    <table class="w-full border-collapse border border-gray-200 shadow-sm rounded-lg overflow-hidden">
      <thead class="bg-[#D55307] text-white">
      <tr>
        <th class="p-4 text-left">Title</th>
        <th class="p-4 text-left">Director</th>
        <th class="p-4 text-left">Length</th>
        <th class="p-4 text-left">Release Date</th>
        <th class="p-4 text-left">Revenue</th>
        <th class="p-4 text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="movie : ${movies}" class="bg-gray-100 hover:bg-gray-200 transition-all">
        <td class="p-4" th:text="${movie.title}"></td>
        <td class="p-4" th:text="${movie.director}"></td>
        <td class="p-4" th:text="${movie.length}"></td>
        <td class="p-4" th:text="${movie.releasedate}"></td>
        <td class="p-4" th:text="${movie.revenue}"></td>

        <td class="p-4 flex items-center justify-center gap-3">
          <a class="text-blue-500 hover:underline"
             th:href="@{/editMovie(id=${movie.id})}">
            Edit
          </a>
          <a class="text-red-500 hover:underline"
             th:href="@{/adminMovies/delete(id=${movie.id})}"
             onclick="return confirm('Are you Sure? ')">
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div th:replace="~{adminMovies/pagination.html :: div}"></div>

  </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>
