<div th:fragment="album" class="d-flex flex-column bg_blur py-5 text-light"  th:style="${#lists.size(movies) == 0 ? 'height: 100vh' : ''}">
    <h1 class="pb-1 pt-3 w-100" style="color:rgb(199, 199, 0) !important; border-bottom: solid; text-align: center" id="homeTitle">All Movies</h1>
    <div id="films" class="container-fluid d-flex flex-row pt-3">
        <div class="container-fluid">
            <div class="row gap-4 justify-content-center">
                <div class="col-md-2" th:each="item : ${movies}">
                    <div class="card" th:attr="onclick=|redirectTo('/movie?id=' + ${item.id})|" style="width: 12rem;">
                        <img th:src="${item.poster}" class="card-img-top" alt="...">
                        <div class="card-body d-flex justify-content-center align-items-center"
                            style="height: 70px; text-align:center;">
                            <p class="card-text " th:text="${item.title}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    	const h1 = document.getElementById("homeTitle");
    	const url = window.location.search;
    	const urlParams = new URLSearchParams(url);
    	if (urlParams.has('searchTerm')) {
            const searchTerm = urlParams.get('searchTerm');
    		h1.innerText = `Search Results for "${searchTerm}"`;
    		h1.style.borderBottom = "none";
    	}
    </script>
</div>
